@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@keyframes fade-out {
    0%, 70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}